# python==3.6.15
gym==0.14.0
box2d-py==2.3.8
atari-py==0.2.6
pytorch==1.2.0
torchvision==0.4.0
matplotlib==3.0.2
scipy==1.1.0
rope
ipykernel
pylint
opencv-contrib-python
tqdm
imageio
numpy
matplotlib
